form#omeka_choose_page_form li{
	float: left;
	width: 90%;
	clear: both;
	padding: 10px;
	margin: 5px 0px;
	border:1px solid #000;
	background-color:#FFF;
}

#omeka_next_step{
	float:left;
	width:100%;
	clear:both;
	display:none;
}

form#omeka_choose_page_form li input{
	vertical-align: middle;
}

form#omeka_choose_page_form span{
	color:#f00;
	font-weight: bold;
	padding-left: 10px;
}

form#omeka_choose_page_form input[type=submit]{
	float: left;
	width: 93%;
	clear: both;
	margin: 10px 0px;
}

div#importProgress{
	display: none;
	background: #fefefe;
	width: 92%;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

}

div#importProgressBar{
	background: #0f0;
	width: 0px;
	display: block;
	height: 40px;
	font-weight: bold;
	text-align: center;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding-top: 20px;
	font-size: 20px;
}

form#omeka_choose_page_form span.pageLinked{
	color:#f88;
}